@charset "utf-8";

/* 초기화 스타일 reset.css */
* { padding:0; margin:0; }
html, body { width:100%; height:100%; }
html { overflow-y:scroll; }
body { font:normal 14px/1 'Nanum Gothic','sans-serif'; color:#555; background:#fff; word-wrap:break-word; }
header,main,footer,section,article,nav,aside { display:block; }
h1,h2,h3,h4,h5,h6 { font-size:14px; font-weight:normal; }
i,em,address { font-style:normal; }
img { vertical-align:top; }
a { display:inline-block; text-decoration:none; color:#555; }
ul { list-style:none; /* list-style-type:none; */ }
.clearfix:after { content:''; display:block; clear:both; }
.hidden { display:none; }
#skip { z-index:4; position:absolute; top:0; left:0; width:100%; }
#skip li { width:100%; }
#skip li a { display:block; font-size:0; padding:0; text-align:center; color:#fff; background:#222; }
#skip li a:focus { font-size:18px; padding:15px 0; }







