@charset "utf-8";
@import url('reset.css');
@import url('fonts.css');


/*//////////////*/
/*/ STARBUCKS /*/
/*////////////*/



/* 자세히보기 버튼 - 스타벅스 공용 버튼 */
.viewBtn-wrap { z-index:2; position:absolute; bottom:15px; left:0; width:100%; display:block; text-align:center; }
.viewBtn-wrap>a { display:inline-block; font-size:14px; border-radius:3px; padding:11px 30px; color:#222; font-weight:bold; border:2px solid #222; transition:all 0.5s; }
.viewBtn-wrap>a:hover { background:#222; color:#fff; text-decoration:underline; }






/* Wrapper Style Start */
#wrap { width:100%; overflow:hidden; }


/* Header Style Start */
#wrap #header { z-index:3; position:fixed; top:0; left:0; width:100%; height:120px; border-top:2px solid #000; border-bottom:1px solid #e5e5e5; background:#f6f5ef; }
#wrap #header .header-wrap { width:100%; max-width:1100px; height:120px; margin:0 auto;  }
/* 로고 */
#wrap #header .header-wrap .header-left  { float:left; width:75px; height:100%; }
#wrap #header .header-wrap .header-left  h1 { padding:22.5px 0; }
#wrap #header .header-wrap .header-left  h1 a { display:inline-block; }
#wrap #header .header-wrap .header-left  h1 a img { width:75px; }
/* 네비게이션 GNB */
#wrap #header .header-wrap .header-right { float:left; width:1025px; height:120px; }
#wrap #header .header-wrap .header-right aside { text-align:right; width:100%; height:54px; }
#wrap #header .header-wrap .header-right aside ul { display:inline-block; padding:16px 55px 25px 0; }
#wrap #header .header-wrap .header-right aside ul li { display:inline-block; margin-left:25px; }
#wrap #header .header-wrap .header-right aside ul li a { font-size:13px; color:#555; }
#wrap #header .header-wrap .header-right aside ul li a:hover { text-decoration:underline; }
#wrap #header .header-wrap .header-right aside ul li a span { margin-top:-18px; display:block; border-radius:6px; border:1px solid #ccc; background:#fff; padding:6px;  }
#wrap #header .header-wrap .header-right aside ul li a span img { width:20px; }
#wrap #header .header-wrap .header-right nav { text-align:right; width:100%; height:66px; }
#wrap #header .header-wrap .header-right nav ul { display:inline-block; }
#wrap #header .header-wrap .header-right nav ul>li { display:inline-block; }
#wrap #header .header-wrap .header-right nav ul>li>a.mainBtn { display:block; padding:10px 22px 43px 22px; color:#333; font-size:13px; font-weight:500; }
#wrap #header .header-wrap .header-right nav ul>li>a.mainBtn:hover { color:#669900; background:#2c2a29; text-decoration:underline;  }
#wrap #header .header-wrap .header-right nav ul>li>a.mainBtn.addMainBtn { color:#669900; background:#2c2a29; text-decoration:underline;  }
/* #wrap #header .header-wrap .header-right nav ul>li>a.mainBtn:hover~.sub { display:block; } */

/* 서브메뉴 */
#wrap #header .header-wrap .header-right nav ul li .sub { display:none; z-index:1; text-align:left; font-size:12px; position:absolute; top:120px; left:0; width:100%; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 { width:100%; background:#2c2a29; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul { width:100%;  }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li { float:left; width:20%; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl { padding:25px 0; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl dt { padding-bottom:15px; font-size:14px; font-weight:600; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl dt a { color:#fff; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl dt a:hover { color:#fff; text-decoration:underline; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl dd { padding-bottom:10px; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl dd a { color:#999; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row1 .sub-wrap ul li dl dd a:hover { text-decoration:underline; }



#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 { width:100%; background:url(../img/gnb_sub_txbg.jpg); }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 .sub-wrap dl { padding:25px 0; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 .sub-wrap dl dt { padding-bottom:6px; font-weight:600; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 .sub-wrap dl dt a { color:#999; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 .sub-wrap dl dt a:hover { text-decoration:underline; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 .sub-wrap dl dd { padding-bottom:6px; color:#669900; }
#wrap #header .header-wrap .header-right nav ul li .sub .sub-row2 .sub-wrap dl dd:nth-child(2) { padding-bottom:15px; }



/* 서브메뉴 공통 1100px 랩핑 */
#wrap #header .header-wrap .header-right nav ul li .sub .sub-wrap { width:1100px; margin:0 auto; }




/* Header Style End */




/* Main Style Start */
#wrap #main { margin-top:123px; z-index:2; position:relative; width:100%; }

/* Section1 Style Start */
#wrap #main  #section1 { width:100%; height:646px; background:#f4e7c7 url(../img/20_summer_bev_bg.jpg) no-repeat 50% 50%; }
#wrap #main  #section1 .section1-wrap { position:relative; width:1198px; height:646px; margin:0 auto;  }

/* Stay 이미지 타이틀 */
#wrap #main  #section1 .section1-wrap span { display:inline-block; position:absolute; }
#wrap #main  #section1 .section1-wrap span img { z-index:1; position:relative;  width:auto;  }
#wrap #main  #section1 .section1-wrap span a { z-index:2; position:absolute; display:block; }
#wrap #main  #section1 .section1-wrap span a.link-1 { top:0; right:150px; width:190px; height:373px; }
#wrap #main  #section1 .section1-wrap span a.link-2 { top:0; right:160px; width:180px; height:300px; }
#wrap #main  #section1 .section1-wrap span a.link-3 { top:0; right:176px; width:176px; height:270px; }

#wrap #main  #section1 .section1-wrap span.sec1-el-1 { opacity:0; left:190px; top:175px;   }
						
#wrap #main  #section1 .section1-wrap span.sec1-el-2 { opacity:0; left:605px; top:75px;  }
																						
#wrap #main  #section1 .section1-wrap span.sec1-el-3 { opacity:0; left:757px; top:315px; }
																							
#wrap #main  #section1 .section1-wrap span.sec1-el-4 { opacity:0; left:15px; top:78px; }
																							
#wrap #main  #section1 .section1-wrap span.sec1-el-5 { opacity:0; left:17px; top:270px; }
																							

#wrap #main  #section1 .section1-wrap span.sec1-el-5 button { cursor:pointer; padding:7px 23px; background:transparent; border:2px solid #3a62ad; color:#3a62ad; font-size:15px; transition:all 0.3s; }
#wrap #main  #section1 .section1-wrap span.sec1-el-5 button:hover { background:#3a62ad; color:#fff; }

/* Section1 Style End */


/* Section2 Style Start 높이62px, 좌측배경 #111, 우측배경 #f6f5ef */
#wrap #main  #section2 { z-index:2; position:relative; width:100%; height:62px; }
#wrap #main  #section2 .section2-left  { z-index:1; position:relative;  float:left; width:50%; height:62px; background:#111; }
#wrap #main  #section2 .section2-right { z-index:1; position:relative;  float:left; width:50%; height:62px; background:#f6f5ef; }
#wrap #main  #section2 .section2-container { z-index:2; position:absolute; top:0; left:50%; width:1100px; margin-left:-550px; height:62px; background:#99c; }
#wrap #main  #section2 .section2-container .section2-container-left  { float:left; width:612px; height:62px; background:#111; }
#wrap #main  #section2 .section2-container .section2-container-left>ul {  height:62px;  }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li { float:left;  height:62px;   }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(1) { width:65px;  } /* 공지사항 제목 이미지영역 */
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(2) { width:485px; } /* 공지사항 목록 박스영역 */
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(3) { width:62px; }  /* 공지사항 더보기 버튼영역 */
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(1)>span { display:block; padding:21.5px 0; }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(1)>span>img { width:65px; height:19px; }
                                                                            /* 공지사항박스 */
#wrap #main  #section2 .section2-container .section2-container-left>ul>li>ul { overflow:hidden; position:relative; margin-left:15px; height:29px; margin-top:16.5px; }
																			/* 공지사항목록 리스트(list) */
#wrap #main  #section2 .section2-container .section2-container-left>ul>li>ul>li { z-index:2; position:absolute; top:29px; left:0; width:100%;  height:29px; }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li>ul>li.notice0 { z-index:1; top:0; }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li>ul>li>a { display:block; background:#000; padding:7px 0; font-size:15px; color:#fff; font-weight:500; }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li>ul>li>a:hover { text-decoration:underline; }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li>ul>li>a>span { display:block; overflow:hidden; text-overflow:ellipsis;  }

#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(3)>span { display:block; padding:13px; }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(3)>span>a { display:block; width:36px; height:36px;  }
#wrap #main  #section2 .section2-container .section2-container-left>ul>li:nth-child(3)>span>a>img { width:36px; }

#wrap #main  #section2 .section2-container .section2-container-right { float:left; width:488px; height:62px; background:#f6f5ef; }
#wrap #main  #section2 .section2-container .section2-container-right>span { display:block; float:right; width:234px; height:36px; padding:13px 0; }
#wrap #main  #section2 .section2-container .section2-container-right>span a { display:block; width:234px; height:36px; font-size:18px; font-weight:800; font-family:'Nanum Gothic'; color:#222; background:url(../img/btn_prom_down.png) no-repeat 100% 50%; }
#wrap #main  #section2 .section2-container .section2-container-right>span a.addPromotion { background-image:url(../img/btn_prom_up.png); }
#wrap #main  #section2 .section2-container .section2-container-right>span a span { display:block; line-height:36px; }


/* Section2 Style End */



/* Section3 Style Start */
#wrap #main  #section3 { display:none; width:100%; height:auto; background:#f6f5ef; border-top:1px solid #f6f5ef; }
#wrap #main  #section3 .section3-wrap { padding:30px 0 67px 0;  }
#wrap #main  #section3 .section3-wrap .section3-slide-container { position:relative; width:100%; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .section3-slide-view { z-index:1; position:relative; width:819px; margin:0 auto; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .section3-slide-view .section3-slide-wrap { position:relative; left:calc(-819px*0);  width:calc(819px*4); margin-left:-819px; }
                                                                                                                                                    
#wrap #main  #section3 .section3-wrap .section3-slide-container .section3-slide-view .section3-slide-wrap .slide  { opacity:0.3; float:left; width:819px; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .section3-slide-view .section3-slide-wrap .slide.addCurrent { opacity:1; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .section3-slide-view .section3-slide-wrap .slide>div  { position:relative; margin:0 5px; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .section3-slide-view .section3-slide-wrap .slide>div img {  z-index:1; position:relative; width:100%; }

/* 섹션3 슬라이드 다음 이전 버튼 박스 */
#wrap #main  #section3 .section3-wrap .section3-slide-container span.nextBtn-wrap  { z-index:2; position:absolute; top:50%; left:50%; margin-left:470px; display:block; width:55px; height:55px; margin-top:-27.5px; }
#wrap #main  #section3 .section3-wrap .section3-slide-container span.nextBtn-wrap a { display:block; width:51px; height:51px; border:2px solid #222;  text-align:center; border-radius:50%; transition:all 0.6s; }
#wrap #main  #section3 .section3-wrap .section3-slide-container span.nextBtn-wrap a:hover { background:#fff; }
#wrap #main  #section3 .section3-wrap .section3-slide-container span.nextBtn-wrap a img { width:15px; height:26px; padding:12.5px 0; }

#wrap #main  #section3 .section3-wrap .section3-slide-container span.prevBtn-wrap { z-index:2; position:absolute; top:50%; right:50%; margin-right:470px;  display:block; width:55px; height:55px; margin-top:-27.5px; }
#wrap #main  #section3 .section3-wrap .section3-slide-container span.prevBtn-wrap a { display:block; width:51px; height:51px; border:2px solid #222; text-align:center;  border-radius:50%; transition:all 0.6s; }
#wrap #main  #section3 .section3-wrap .section3-slide-container span.prevBtn-wrap a:hover { background:#fff; }
#wrap #main  #section3 .section3-wrap .section3-slide-container span.prevBtn-wrap a img { width:15px; height:26px; padding:12.5px 0; }

/* 섹션3 slide 정지 & 플레이 & 페이지 버튼 박스 */
#wrap #main  #section3 .section3-wrap .section3-slide-container .playPageBtn-wrap { z-index:2; position:absolute; bottom:-25px; left:0; width:100%; text-align:center; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .playPageBtn-wrap span { display:inline-block; margin:0 4px; }
#wrap #main  #section3 .section3-wrap .section3-slide-container .playPageBtn-wrap span a { display:inline-block; }
/* 정지 & 플레이 */
#wrap #main  #section3 .section3-wrap .section3-slide-container .playPageBtn-wrap span a.pausePlayBtn img { width:9px; height:12px; }
/* 페이지버튼 */
#wrap #main  #section3 .section3-wrap .section3-slide-container .playPageBtn-wrap span a.pageBtn img {  width:13px; height:12px; }



/* Section3 Style End */


/* Section4 Style Start */
#wrap #main  #section4 { z-index:1; position:relative; width:100%; height:261px; }
#wrap #main  #section4 .section4-left  {  z-index:1; position:relative; float:left; width:50%; height:261px; background:#272727; }
#wrap #main  #section4 .section4-right {  z-index:1; position:relative; float:left; width:50%; height:261px; background:#d6c798; }
#wrap #main  #section4 .section4-container { z-index:2; position:absolute; width:1100px; top:0; left:50%; margin-left:-550px; height:261px; }
#wrap #main  #section4 .section4-container .section4-container-left  { z-index:2; position:relative; float:left; width:350px; height:261px; }
#wrap #main  #section4 .section4-container .section4-container-left > img { z-index:1; position:relative; width:340px; height:100%; margin-left:-20px; }
#wrap #main  #section4 .section4-container .section4-container-left > span { z-index:2; position:absolute; top:47%; left:0; }
#wrap #main  #section4 .section4-container .section4-container-left > span  img { width:auto; }

#wrap #main  #section4 .section4-container .section4-container-right { z-index:1; position:absolute; top:0; right:0; width:960px; height:261px; background:#d6c798;; }
#wrap #main  #section4 .section4-container .section4-container-right > img { z-index:1; position:relative; width:960px; height:241px; padding-top:20px; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-text-img {  z-index:2; position:absolute; top:30px; left:225px; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-text-img p { padding:20px 0; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-text-img p img { width:auto; }
/* 우측 버튼 박스 */
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap { z-index:3; position:absolute; top:52.5px; right:0; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li { padding:20px 0; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span { display:block; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span:first-child { float:left; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span:last-child { float:right; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span:first-child a { display:block; width:121px; height:34px; text-align:center; line-height:34px; color:#fff; background:#222; border:2px solid #222; font-weight:bold; font-size:14px; transition:all 0.6s; border-radius:3px; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span:last-child  a { display:block; width:121px; height:34px; text-align:center; line-height:34px; color:#222; border:2px solid #222; font-weight:bold; font-size:14px; transition:all 0.6s; border-radius:3px; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span:first-child a:hover { background:transparent; color:#222; text-decoration:underline; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:first-child span:last-child  a:hover { background:#222; color:#fff; text-decoration:underline; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:last-child  span { display:block; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:last-child  span a { display:block; width:251px; height:34px; text-align:center; line-height:34px; color:#222; border:2px solid #222; font-weight:bold; font-size:14px; transition:all 0.6s; border-radius:3px; }
#wrap #main  #section4 .section4-container .section4-container-right .section4-container-right-button-wrap li:last-child  span a:hover { background:#222; color:#fff; text-decoration:underline; }


/* Section4 Style End */


/* Section5 Style Start */
#wrap #main  #section5 { width:100%; height:573px; background:#d0e8f8 url(../img/20_summer_coffee_bg.jpg) no-repeat 50% 50%; background-size:cover;  overflow:hidden;  }
#wrap #main  #section5 .section5-wrap { width:1100px; height:573px; margin:0 auto; }
#wrap #main  #section5 .section5-wrap .sec5-ani1 { position:relative; left:0;  float:left; width:50%; text-align:center; }
                             
#wrap #main  #section5 .section5-wrap .sec5-ani1 img { width:100%; max-width:210px; padding:67px 0; }
#wrap #main  #section5 .section5-wrap .sec5-ani2 { position:relative; right:0;  float:left; width:50%; text-align:left;  padding:172.5px 0; }



#wrap #main  #section5 .section5-wrap .sec5-ani2 h2 { }
#wrap #main  #section5 .section5-wrap .sec5-ani2 h2 img { width:100%; max-width:339px; }
#wrap #main  #section5 .section5-wrap .sec5-ani2 span.viewBtn-wrap { position:relative; top:0; padding-top:50px; left:0; text-align:left; }

/* Section5 Style End */



/* Section6 Style Start */
#wrap #main  #section6 { width:100%; height:400px; background:#fff url(../img/20_summer_reserve_bg.jpg) no-repeat 50% 50%; background-size:cover;  overflow:hidden; }
#wrap #main  #section6 .section6-wrap { width:1330px; height:400px; margin:0 auto; }
#wrap #main  #section6 .section6-wrap .sec6-title { float:left; padding:109.5px 0; }
#wrap #main  #section6 .section6-wrap .sec6-title h2 {   }
#wrap #main  #section6 .section6-wrap .sec6-title h2 img { width:100%; max-width:669px;   }
#wrap #main  #section6 .section6-wrap .sec6-title span.viewBtn-wrap { position:relative; top:0; left:155px; text-align:left; }


#wrap #main  #section6 .section6-wrap .sec6-ani { position:relative; float:right; opacity:0;  }
#wrap #main  #section6 .section6-wrap .sec6-ani img { width:100%; max-width:608px; }
/* Section6 Style End */


/* Section7 Style Start */
#wrap #main  #section7 { width:100%; height:800px; background:url(../img/fav_prod_bg_new.jpg) no-repeat 50% 50% fixed; background-size:cover;  }
#wrap #main  #section7 .section7-wrap {  width:100%; max-width:1330px; height:800px; margin:0 auto;  }
#wrap #main  #section7 .section7-wrap .sec7-left { float:left; padding-top:140px; width:100%; max-width:498px;   text-align:right; }
#wrap #main  #section7 .section7-wrap .sec7-left h2 { position:relative; padding-bottom:50px; }
#wrap #main  #section7 .section7-wrap .sec7-left h2 img { width:auto;  }
#wrap #main  #section7 .section7-wrap .sec7-left h3 { position:relative; padding-bottom:70px; }
#wrap #main  #section7 .section7-wrap .sec7-left h3 img { width:auto; }
#wrap #main  #section7 .section7-wrap .sec7-left .viewBtn-wrap { position:relative; text-align:right; padding-right:5px; }
#wrap #main  #section7 .section7-wrap .sec7-left .viewBtn-wrap a { color:#fff; border:2px solid #fff; background:transparent; transition:all .6s; }
#wrap #main  #section7 .section7-wrap .sec7-left .viewBtn-wrap a:hover { color:#222; background:#fff; }

#wrap #main  #section7 .section7-wrap .sec7-right { float:right;  padding-top:145px; width:100%; max-width:712px;  text-align:right; }
#wrap #main  #section7 .section7-wrap .sec7-right img { width:100%;  }
/* Section7 Style End */



/* Section8 Style Start */
#wrap #main  #section8 { width:100%; height:590px; background:url(../img/reserve_bg.jpg) no-repeat 50% 50% fixed; background-size:cover; overflow:hidden; }
#wrap #main  #section8 .section8-wrap {  width:1100px;  padding:128px 0; margin:0 auto; }

#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap {display:block; position:relative; width:334px; height:334px;  margin:0 auto; }
											/* 앞면 */
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap .sec8-front { transition:all .6s; transform:rotateY(0deg); z-index:2; position:absolute; top:0; left:0; width:100%; height:100%;  }
											/* 뒷면으로 변경 */
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap:hover .sec8-front { z-index:1; transform:rotateY(180deg);  }
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap:focus .sec8-front { z-index:1; transform:rotateY(180deg);  }
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap .sec8-front img { width:100%; }
											/* 뒷면 */
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap .sec8-back { backface-visibility:hidden; transition:all .6s; transform:rotateY(180deg);  z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; }
											/* 앞면으로 변경 */
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap:hover .sec8-back { transform:rotateY(0deg);  z-index:2; }
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap:focus .sec8-back { transform:rotateY(0deg);  z-index:2; }
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap .sec8-back img { width:100%; }
#wrap #main  #section8 .section8-wrap .sec8-rotate-wrap .sec8-back .viewBtn-wrap { position:relative; text-align:center; bottom:25%; }
/* Section8 Style End */



/* Section9 Style Start */
#wrap #main  #section9 { width:100%; height:400px; background:url(../img/store_bg.jpg) no-repeat 50% 50%; background-size:cover;  }
#wrap #main  #section9 .section9-wrap { position:relative; width:1100px; height:400px; margin:0 auto; }

#wrap #main  #section9 .section9-wrap span.sec9-top-bg { position:absolute; display:inline-block; top:-60px; left:38%; }
#wrap #main  #section9 .section9-wrap span.sec9-top-bg img { width:auto; }

#wrap #main  #section9 .section9-wrap .sec9-left-img { position:absolute; top:0; left:75px; width:50%; height:100%; }
#wrap #main  #section9 .section9-wrap .sec9-left-img span.sec9-left-img-1 { z-index:1; display:inline-block; position:absolute; top:0; left:0;  }
#wrap #main  #section9 .section9-wrap .sec9-left-img span.sec9-left-img-1 img { width:100%; max-width:336px; }
#wrap #main  #section9 .section9-wrap .sec9-left-img span.sec9-left-img-2 { z-index:2;  display:inline-block; position:absolute; top:146px; left:230px;   }
#wrap #main  #section9 .section9-wrap .sec9-left-img span.sec9-left-img-2 img { width:100%; max-width:222px; }

#wrap #main  #section9 .section9-wrap .sec9-right-title {  position:absolute; top:96px; left:58%;  }
#wrap #main  #section9 .section9-wrap .sec9-right-title .sec9-right-title-1 { position:relative; left:0; padding-bottom:15px; }
#wrap #main  #section9 .section9-wrap .sec9-right-title .sec9-right-title-1 img {  }
#wrap #main  #section9 .section9-wrap .sec9-right-title .sec9-right-title-2 { position:relative; left:0; padding-bottom:30px; }
#wrap #main  #section9 .section9-wrap .sec9-right-title .sec9-right-title-2 img {  }
#wrap #main  #section9 .section9-wrap .sec9-right-title .viewBtn-wrap { position:relative; top:0; left:0; text-align:left; }
#wrap #main  #section9 .section9-wrap .sec9-right-title .viewBtn-wrap a { }

#wrap #main  #section9 .section9-wrap span.sec9-right-bottom-img { position:absolute; display:inline-block; bottom:0; right:-60px;  }
#wrap #main  #section9 .section9-wrap span.sec9-right-bottom-img img {  }



/* Section9 Style End */
/* Main Style End */




/* Footer Style Start */
#wrap #footer { z-index:1; position:relative; width:100%; padding:50px 0; background:#2C2A29; }
#wrap #footer .footer-row1 { width:100%; background:#2C2A29; padding-bottom:40px;  }
#wrap #footer .footer-row1 .footer-row-wrap { width:100%;  max-width:1100px; margin:0 auto; background:url(../img/footer_logo.png) no-repeat 100% 0; }
#wrap #footer .footer-row1 .footer-row-wrap ul { width:100%; }
#wrap #footer .footer-row1 .footer-row-wrap ul li { float:left; width:20%; }
#wrap #footer .footer-row1 .footer-row-wrap ul li dl { width:100%; }
#wrap #footer .footer-row1 .footer-row-wrap ul li dl dt { padding-bottom:10px; }
#wrap #footer .footer-row1 .footer-row-wrap ul li dl dt a { font-size:14px; color:#fff; }
#wrap #footer .footer-row1 .footer-row-wrap ul li dl dd { padding:5px 0; }
#wrap #footer .footer-row1 .footer-row-wrap ul li dl dd a { font-size:12px; color:#fff; }
#wrap #footer .footer-row1 .footer-row-wrap ul li dl a:hover { text-decoration:underline; }

#wrap #footer .footer-row2 { width:100%; background:#282828; padding:10px 0; }
#wrap #footer .footer-row2 .footer-row-wrap {  width:100%; max-width:1134px; margin:0 auto; text-align:center; }
#wrap #footer .footer-row2 .footer-row-wrap ul { display:inline-block; }
#wrap #footer .footer-row2 .footer-row-wrap ul li { float:left;}
#wrap #footer .footer-row2 .footer-row-wrap ul li a { display:inline-block; }
#wrap #footer .footer-row2 .footer-row-wrap ul li a img { width:auto; }

#wrap #footer .footer-row3 { width:100%;  background:#2C2A29;  padding-top:30px; }
#wrap #footer .footer-row3 .footer-row-wrap {  width:100%; max-width:1100px; margin:0 auto; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row1 { width:100%; text-align:center; padding-bottom:15px; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row1 span { display:inline-block; margin:0 7px; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row1 span a { font-size:12px; color:#fff; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row1 span a:hover { text-decoration:underline; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row1 span i { margin-top:2px; display:block; width:1px; height:10px; background:#777; }

#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row2 { width:100%; text-align:center;  padding-bottom:30px; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row2 span { display:inline-block; margin:0 1px; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row2 span a { display:block; width:110px; height:38px; line-height:38px; text-align:center; font-size:14px; color:#fff; border:2px solid #fff; border-radius:3px; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row2 span a:hover { text-decoration:underline; }

#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row3 { width:100%;  padding-bottom:30px; text-align:center; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row3 address { font-size:12px; color:#999; }

#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row4 { width:100%; text-align:center; }
#wrap #footer .footer-row3 .footer-row-wrap .footer-row3-row4 span { font-size:11px; color:#999; }

/* Footer Style End */






/* Modal, Quick Menu, GoTop Menu */
span.quickMenu { z-index:4; position:fixed; top:138px; left:50%; margin-left:600px;}



